---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sessão de Diagnóstico" customFBEvent="ViewContent">
  <main class="flex justify-center items-center min-h-[100vh]">
    <div class="background absolute inset-0 opacity-20"></div>

    <div class="max-w-2xl p-8 grid gap-8 relative">
      <h1 class="text-3xl md:text-4xl uppercase font-black">
        Você já é um programador contratado mas
        <span class="text-red-800"> ainda não sente confiança</span>
        para desenvolver os seus projetos?
      </h1>
      <p class="text-lg md:text-2xl">
        Agende um diagnóstico gratuito comigo e descubra como ser mais confiante
        e mais reconhecido pelo seu trabalho
      </p>
      <a
        class="inline-block mx-auto rounded-full bg-green-600 hover:bg-green-800 focus:bg-green-800 focus:outline-green-800 focus:outline-offset-4 focus:outline-2 active:bg-green-600 active:outline-none active:text-white text-neutral-900 px-8 py-4 uppercase text-xl text-center font-semibold"
        href={import.meta.env.VITE_WHATSAPP_LINK}
      >
        Clique aqui para agendar!
      </a>
    </div>
  </main>
</Layout>
<style>
  .background {
    background-image: url(/assets/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
