---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
export interface Props {
  title: string;
  customFBEvent?: string;
}

const { title, customFBEvent} = Astro.props;
const prod = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="pt-br" class="min-h-[100vh]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Hero Code</title>

    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap"
    />

    { prod && (<script is:inline>(function(w,d,s,l,i){ w[l]=w[l]||[]; w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M5T8RR3');</script>) }
    { prod && (<script is:inline>!(function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments); }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = "2.0"; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s); })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "387749326306583"); fbq("track", "PageView"); </script>) }
    { (prod && customFBEvent) && (<script is:inline define:vars={{customFBEvent}}>fbq('track', customFBEvent);</script>)}
    { prod && (<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=AW-431724580"></script><script is:inline>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag("js", new Date()); gtag("config", "AW-431724580");</script>)}
  </head>
  <body class="bg-neutral-900 text-slate-300 min-h-[100vh]">
    <slot />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
    {(prod && customFBEvent) && (<noscript><img height="1" width="1" style="display: none" src={`https://www.facebook.com/tr?id=387749326306583&ev=${customFBEvent}&noscript=1`} alt="" /></noscript>)}
  </body>
</html>
